
.imagem-de-fundo{
    background-image:url('/public/assets/imagens/capa.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background: linear-gradient(linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%));

    height: 80%;
}

.capa{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 500px;
    font-family: 'Anybody', cursive;

}

.capa p{
    font-size: 36px;
    color: rgb(196, 196, 196);
}

.capa h1{
    text-transform: uppercase;
    color:#fff;
    font-size: 60px;
    margin: 0;
 
}

@media(max-width: 768px)
{
    .capa h1 {
        font-size: 40px;
        max-width: 350px;
    }

    .capa p{
        font-size: 20px;     
    }
}

@media(max-width: 550px)
{
    .imagem-de-fundo {
        background-position: 89% center;
        
        padding: 0 10px; 
    }

    .capa{
        color: rgba (0,0,0,0,6);
    }
}